$g-font: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

#login{
    box-shadow: 0px 0px 1050px -5px rgb(223, 223, 223);
    display: flex;
    align-items: center;
    row-gap: 50px;
    height: 60vh;
    width: 20vw;
    background-color:#ffffff;
    border-radius: 50px;
    flex-direction: column;
    padding: 50px;

    h1{
        font-size: 5rem;
        color: rgb(65, 63, 63);
        font-family: $g-font;
        position: relative;
        margin: 20px;
    }


    
    .field{
        width: 100%;
        p{
            margin:0px 0px 20px 0px;
            font-size: 1.7rem;
            width: 100%;
            padding-left:5px ;
            text-align: start;
            font-family: $g-font;
            margin-bottom: 5px;
            color: rgba(76, 0, 130, 0.835);
        }

        input{
            letter-spacing: 1px;
            font-family: $g-font;
            margin: 0;
            height: 40px;
            width: 100%;
            padding: 0px 5px;
            background-color: rgb(255, 255, 255);
            border: none;
            border-bottom:1px solid grey;
            font-size: 17px;
            }

        input:focus{
                outline: none;
            }
            

        

    }

    .btn{
        display: flex;
        justify-content: center;

        button{
            height: 50px;
            width: 120px;
            font-size: 1.5rem;
            font-family: $g-font;
            border: none;
            background-color: blueviolet;
            border-radius: 10px;
            color: white;
            transition: 0.3s ease-in-out;
        }
        button:hover{
            box-shadow: 0px 20px 50px -15px rgb(90, 89, 89);
            transform: translateY(-5px);
            
        }

    }

    .redirect{
        p{
            font-family: $g-font;
            a{
                text-decoration: none;
            }
        }
    }


}